
body{
	margin:0;
	padding:0;	
	background:url('background.jpg');
}

.container
{

	background-color:#FFEB9B;
   
}


p{
    margin-top: 20px;
    font-size: 20px;
}
    

body{
    text-align: center;
    list-style-position: inside;
}

#done{
    margin-top: 50px;
    margin-bottom: 50px;
}
#disp{
    margin-top:15px;
}
h1{
    background-color: #FFB36A;
    padding: 10px;
    border-radius: 5px;
}

h3{
    margin-top:15px ;
    background-color: #E0FFFF;
    padding: 10px;
}

.instrukcja{
    background-color: #74B1BC;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.pytanie{
    background-color: #6BA7B2;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
}

li{
    font-size: 18px;
}

.infodp{
    font-weight: bold;
}

button
{
	color: white;
	background-color: #51ACBD;
	margin: 7px;
	width: 100px;
	height: 50px;
    border: 0px ;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
}

#done{
    color: white;
	background-color: #FFB36A;
	margin: 7px;
	width: 300px;
	height: 55px;
	margin-bottom:20px;
    margin-top: 20px;
    border-radius: 40px;
}


#disp{
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: greenyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


input[type=radio] {
    border: 0px;
    width: 50px;
    height: 20px;
    
}


button{
    margin-left: 50px;
}

#result_table
{
    border: 5px solid orange;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightyellow;
    font-size: 23px;
    display:block;
    
   
}


#tabela_punkty
{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
    
}

#blue
{
    background-color: #E0FFFF;
}

td, th
{
    border: 3px solid orange;
    border-collapse: collapse;
    
}

#tabela_role
{
    background-color: white;
    display:block;
    font-size: 23px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

#button_table
{
    width: 300px;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
}


#result_section1, #result_section2,#result_section3,#result_section4,#result_section5,#result_section6,#result_section7,#result_section8
{
    margin-left: auto;
    margin-right: auto;
    background-color: #E0FFFF;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid black;
    display: block;
}

#nazwa_typu
{
    border: 3px solid black;
    color: black;
    font-weight: bold;
    background-color: #ffbf8381;
}

#greenfont
{
    color:black;
}

